@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    align-content: center;
}
.img{
    padding-bottom: 30px;
}
h3{
    padding-bottom: 15px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 10px;
    padding-bottom: 50px;
    
}
.SEDANS{
   background-color: hsl(31, 77%, 52%); 
   padding: 2em;
   width: 200px;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
.SUVS{
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    width: 200px;
}
.LUXURY{
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    width: 200px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
